#navbar{
display: flex;
background-color: black;
justify-content: space-around;
padding: 10px;
margin-top: 0px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
#container>div{
    white-space: nowrap;
    overflow: hidden;
}



h5,p{
    padding-left: 10px;
}

h5{
   
    text-overflow: clip;
}
button{
    margin: 10px 10px;
    padding: 5px;
}

